<section class="container container-padding-top">
    <div class="card card-search-filters">
        <div class="card-body">
            <div class="row">
                <form [formGroup]="form" role="form">
                    <div class="row" style="padding-bottom: 1rem;">
                        <div class="col-4">
                            <label class="control-label" for="fecNota">Fecha de estudios</label>
                            <div class="row">
                                <p-calendar #dateFilter placeholder="dd/mm/aaaa" [showIcon]="true" inputId="icon"
                                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" (onClose)="clearIfNotEndDate()"
                                    (onSelect)="selectedDates($event)" dataType="string" [hideOnDateTimeSelect]="true"
                                    dateFormat="dd/mm/yy" selectionMode="range" [readonlyInput]="true" formControlName="date"
                                    [yearNavigator]="true" yearRange="1996:2030" inputStyleClass="form-control"
                                    showButtonBar="true" (onClearClick)="clearDate()" [monthNavigator]="true">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="control-label">OOAD</label>
                            <select class="form-select" id="idOoad" formControlName="idOoad" (change)="ooadChange()">
                                <option value="" selected>Seleccionar</option>
                                <option value="" selected>Todas</option>
                                <option *ngFor="let ooad of ooads" [ngValue]="ooad.ooad">
                                    <span>{{ ooad.ooad }}</span>
                                </option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="control-label">Unidad</label>
                            <select class="form-select" id="idUnidad" formControlName="idUnidad"
                                style="font-size: 1em !important;" (change)="unidadChange()">
                                <option value="" selected>Seleccionar</option>
                                <option value="" selected>Todas</option>
                                <option *ngFor="let unidad of unidades" [ngValue]="unidad.unidad">
                                    <span>{{ unidad.unidad }}</span>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1rem;">
                        <div class="col-6">
                            <label class="control-label" for="estudio">Estudio</label>
                            <select class="form-select" formControlName="idEstudio" (change)="estudioChange()">
                                <option value="" selected>Seleccionar</option>
                                <option value="" selected>Todas</option>
                                <option *ngFor="let estudio of estudios" [value]="estudio.estudio">
                                    {{ estudio.estudio }} </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="control-label" for="prueba">Prueba</label>
                            <select class="form-select" formControlName="idPrueba" (change)="pruebaChange()">
                                <option value="" selected>Seleccionar</option>
                                <option value="" selected>Todas</option>
                                <option *ngFor="let prueba of pruebas" [value]="prueba.prueba">
                                    {{ prueba.prueba }} </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <div class="row d-flex align-items-center">
                    <div class="col-3" *ngIf="!formulario.idPrueba.value">
                        <p>
                            Resultados &nbsp; <strong>{{ resultadosLaboratorio?.totalElements }}</strong>
                        </p>
                    </div>
                    <div class="col-3" *ngIf="formulario.idPrueba.value">
                        <p>
                            Resultados &nbsp; <strong>{{ estudiosTable?.totalElements }}</strong>
                        </p>
                    </div>
                    <div class="col-1 flex-end d-flex align-items-center" style="padding-bottom: 1rem;">
                        <label class="control-label">Visualizar Datos &nbsp; </label>
                        <select (change)="getResultadosLaboratorio(1)" [(ngModel)]="pageRequest.pageSize"
                            class="select-control custom-select">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <span class="caret"></span>
                        </select>
                    </div>
                </div>
                <!-- Son dos tablas porque el servicio origen (No el bypass) -->
                <div *ngIf="!formulario.idPrueba.value" class="table-radius">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="center header_tabla" *ngFor="let head of arrayTable; let i = index;">
                                    <div>
                                        <div *ngIf="head?.header != 'dropdown'">
                                            <div class="formGroup">{{head?.header}} <i class="icon-sort pull-right"
                                                    (click)="sortTable(arrayTable[i])" style="cursor: pointer;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="resultadosLaboratorio && resultadosLaboratorio.content">
                            <ng-container *ngFor="let row of resultadosLaboratorio.content; let i = index;">
                                <tr>
                                    <td class="center" *ngFor="let cell of arrayTable">
                                        {{row[cell.field]}}
                                        <div *ngIf="(cell?.field == 'dropdown')" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapseme'+i" style="float: right;">
                                            <i class="icon-chevron-sign-down icon-angle-down-color"></i>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container *ngFor="let grupo of row.grupos; let e = index;">
                                    <tr id="collapseme{{i}}" class="collapse out">
                                        <td colspan="12">
                                            <div style="font-weight: normal;"
                                                style="background-color: #5f8cdc; color: white; padding: 1px;">
                                                {{grupo?.grupo}}
                                                <span data-bs-toggle="collapse"
                                                    [attr.data-bs-target]="'#collapseme_sub'+e" style="float: right;">
                                                    <i class="icon-angle-down icon-angle-down-color-white"></i>
                                                </span>
                                            </div>
                                            <ng-container *ngFor="let estudio of grupo.estudios;"
                                                style="background-color: white !important; color: black;">
                                                <div id="collapseme_sub{{e}}" class="collapse out" style="font-weight: bold; background-color: #f4f8ff !important;">

                                                    {{estudio.estudio}}
                                                </div>
                                                <table id="collapseme_sub{{e}}" class="collapse out pruebaTable">
                                                    <thead>
                                                        <th *ngFor="let subHead of arraySubTable; let i = index;" class="col-3">
                                                            <div style="font-weight: normal;">
                                                                {{subHead?.header}}
                                                            </div>
                                                        </th>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container *ngFor="let prueba of estudio.pruebas;">
                                                            <tr>
                                                                <td  *ngFor="let cell_ of arraySubTable">
                                                                    <!-- <div *ngIf="cell_?.field != 'medicamento'">
                                                                        {{prueba[cell_.field]}}
                                                                    </div> -->
                                                                    <div>
                                                                        {{prueba[cell_.field]}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <!-- Son dos tablas porque el servicio origen (No el bypass) -->
                <div class="table table-radius" *ngIf="formulario.idPrueba.value">
                    <table class="table table-striped-blue ">
                        <thead>
                            <tr style="background-color: white;">
                                <th class="center header_tabla" *ngFor="let head of arrayEstudioTable; let i = index;">
                                    <div>
                                        <div class="formGroup">{{head?.header}}</div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="estudiosTable?.content">
                            <tr *ngFor="let row of estudiosTable.content; let i = index;">
                                <td class="center" *ngFor="let cell of arrayEstudioTable">
                                    {{row[cell.field]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col"
                    *ngIf="resultadosLaboratorio && resultadosLaboratorio.content && !formulario.idPrueba.value">
                    <p-paginator #paginator [rows]="pageRequest.pageSize"
                        [totalRecords]="resultadosLaboratorio?.totalElements"
                        (onPageChange)="getPagerResultadosLaboratorio($event)" [pageLinkSize]="3"
                        [showFirstLastIcon]="false">
                    </p-paginator>
                    <div class="row d-flex align-items-center">
                        <div class="col-1 flex-end align-items-center">
                            <label class="control-label" style="white-space: nowrap;">Página actual:</label>
                        </div>
                        <div class="col-1 align-items-center">
                            <input disabled type="number" class="form-control"
                                [(ngModel)]="resultadosLaboratorio.currentPage">
                        </div>
                    </div>
                </div>
                <div class="col" *ngIf="estudiosTable && estudiosTable.content && formulario.idPrueba.value">
                    <p-paginator #paginator [rows]="pageRequest.pageSize" [totalRecords]="estudiosTable?.totalElements"
                        (onPageChange)="getPagerResultadosLaboratorio($event)" [pageLinkSize]="3"
                        [showFirstLastIcon]="false">
                    </p-paginator>
                    <div class="row d-flex align-items-center">
                        <div class="col-1 flex-end align-items-center">
                            <label class="control-label" style="white-space: nowrap;">Página actual:</label>
                        </div>
                        <div class="col-1 align-items-center">
                            <input disabled type="number" class="form-control" [(ngModel)]="estudiosTable.currentPage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>