<section class="container container-padding-top">
    <div class="card" style="width: 100%; border-radius: 1rem">
      <div
        class="row d-flex align-items-center"
        style="padding-left: 1rem; padding-right: 1rem"
      >
        <div class="col-3">
          <h5>
            {{ detalleNotaMedica?.notaMedicaParent?.unidad }},
            {{ detalleNotaMedica?.notaMedicaParent?.ooad }}
          </h5>
        </div>
        <div class="col-5">
          <h5 class="capital">{{ dateHeaderParsed }}</h5>
        </div>
        <div class="col-4 img-end-flechas">
          <div class="row">
            <div class="col-sm-6 svg-arrows">
              <img
                [ngStyle]="{ opacity: validIndex(actualNotaIndex - 1) ? 1 : 0.4 }"
                src="assets/images/icon_nota_anterior.svg"
                (click)="getDetalleNotaMedica(actualNotaIndex - 1)"
              />
            </div>
            <div class="col-sm-6 svg-arrows">
              <img
                [ngStyle]="{ opacity: validIndex(actualNotaIndex + 1) ? 1 : 0.4 }"
                src="assets/images/icon_nota_siguiente.svg"
                (click)="getDetalleNotaMedica(actualNotaIndex + 1)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-body row-margin">
        <div class="row d-flex align-items-center">
          <!-- <div class="row"> -->
          <div class="col-2 col-img">
            <div class="img">
              <span>
                <img
                  src="assets/images/somatometria_header.png"
                  class="img-container"
                />
              </span>
            </div>
          </div>
          <!-- </div> -->
          <div class="col-10">
            <div class="row">
              <label
                class="label-somatometria"
                style="font-weight: bold; color: #404041"
                >Somatometría</label
              >
            </div>
            <div class="row">
              <div class="col col-margin-sep" style="max-width: 6rem">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.estatura }} m</output
                >
                <label class="label-somatometria">Estatura</label>
              </div>
              <div class="col col-margin-sep" style="max-width: 6rem">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.peso }} Kg</output
                >
                <label class="label-somatometria">Peso</label>
              </div>
              <div class="col col-margin-sep" style="max-width: 8rem">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.temperatura }} °C</output
                >
                <label class="label-somatometria">Temperatura</label>
              </div>
              <div class="col col-margin-sep">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.presionArterialsis }}mmHg /
                  {{
                    detalleNotaMedica?.somatometria?.presionArterialdia
                  }}mmHg</output
                >
                <label class="label-somatometria">Presión arterial</label>
              </div>
              <div class="col col-margin-sep">
                <output class="control-label"
                  >{{
                    detalleNotaMedica?.somatometria?.frecuenciaCardiaca
                  }}
                  latidos/min</output
                >
                <label class="label-somatometria">Frecuencia cardiaca</label>
              </div>
              <div class="col col-margin-sep">
                <output class="control-label"
                  >{{
                    detalleNotaMedica?.somatometria?.frecuenciaRespiratoria
                  }}
                  resp./min</output
                >
                <label class="label-somatometria">Frecuencia respiratoria</label>
              </div>
              <div class="col col-margin-sep" style="max-width: 8rem">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.glucosa }} mg/dl</output
                >
                <label class="label-somatometria">Glucosa</label>
              </div>
              <div class="col">
                <output class="control-label"
                  >{{ detalleNotaMedica?.somatometria?.saturacion }} %</output
                >
                <label class="label-somatometria">Saturación de Oxígeno</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 row-margin-div"></div>
        
        <div class="col-12 row-margin-div"></div>

        <!-- ANTECEDDENTES PERSONALES PATOLOGICOS -->
        <div
          class="row row-margin-antecedentes-datos-obstetricos"
        >
          <div class="col-3">
            <div class="row parent">
              <div class="col-3 child">
                <span>
                  <img
                    src="assets/images/IconosNotas/icono_cirugia.png"
                    class="img-container-antecedente"
                  />
                </span>
              </div>
              <div class="col-9">
                <label>Datos cirugía</label><br />
                <label class="labelFechaAntecedente">2020-01-22 10:34:06</label><br />
                <output class="labelTituloFechaAntecedente"
                  >Fecha y hora inicio de cirugía</output
                >
              </div>
            </div>
          </div>
        </div>

  
  
  
        <div class="col-12 row-margin-div"></div>
  
        <div
          class="row d-flex row-spacer body-tit "
          style="padding-left: 1rem; padding-bottom: 1rem"
        >
          <div class="col-8 col-margin-sep">
            <label class="row-spacer">Diagnostico postoperatorio</label>
            <output class="sroll-resumen-clinico">Paciente masculino de 68 años de edad quien cuenta con diagnóstico...  .
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
             </output>
             <br>
             <label class="row-spacer">Descripción de la técnica</label>
            <output class="sroll-resumen-clinico">Plan: Continua con tamsulosina, considero actualmente el paciente puede manejarse en su UMF..
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
             </output>
             <br>
          </div>
          <div class="col-4" style="padding-left: 2rem;">
            <div class="row row-spacer" style="width: 98%">
              <div class="col">
                <label>Cirugía efectuada</label>
                <br>
                <output>5411-Laparotomia exploradora</output>
                <output>6849-Otra histerectomia total abdominal</output>
                <output>4610-Colostomia</output>
              </div>
            </div>
            <div class="row row-spacer" style="width: 98%">
              <div class="col">
                <label>Anestesia administrada</label>
                <br>
                <output>Local</output>
              </div>
            </div>
            <div class="row row-spacer" style="width: 98%">
              <div class="col">
                <label>Hallazgos operatorios</label>
                <br>
                <output>Adherencias perihepáticas, piometra/ perforacion uterina... </output>
              </div>
            </div>
          </div>
        </div>
        <div class="border-abajo-separacion"></div>



        <!-- Separacion -->

        <div
        class="row d-flex  body-tit"
        style="padding-left: 1rem; padding-bottom: 1rem"
      >
        <div class="col-2 ">
          <label class="row-spacer">Clasificación de la herida</label>
          <output> Contaminada
           </output>
        </div>
        <div class="col-2 ">
            <label class="row-spacer">Implante</label>
            <output> Contaminada
             </output>
          </div>
        <div class="col-2 ">
            <label class="row-spacer">Tipo implante</label>
            <output> Neuroquirúrgico
             </output>
          </div>
          <div class="col-2 ">
            <label class="row-spacer">Herida término de Cx</label>
            <output> Cerrada
             </output>
          </div>
          <div class="col-2 ">
            <label class="row-spacer">Ostomías</label>
            <output> Si
             </output>
          </div>
          <div class="col-2 ">
            <label class="row-spacer">Tipo de ostomías</label>
            <output> Tubo digestivo
             </output>
          </div>
      </div>
      <div
      class="row d-flex body-tit"
      style="padding-left: 1rem; padding-bottom: 1rem"
    >
      <div class="col-2 ">
        <label class="row-spacer">Colocación de drenaje</label>
        <output> Si
         </output>
      </div>
      <div class="col-2 ">
          <label class="row-spacer">Antimicrobiano</label>
          <output> Terapéutico
           </output>
        </div>
      <div class="col-2 ">
          <label class="row-spacer">Nombre antimicrobiano</label>
          <output> Meropenem
           </output>
        </div>
        <div class="col-3 ">
          <label class="row-spacer">Cuenta de gasas, compresas, e instrumental: Completos y correctos</label>
          <output> Si
           </output>
        </div>
        <div class="col-3 ">
          <label class="row-spacer">Complicaciones transoperatorias</label>
          <output> Si
           </output>
        </div>
        
    </div>
    <div
    class="row d-flex body-tit"
    style="padding-left: 1rem; padding-bottom: 1rem"
  >
    <div class="col-4 ">
      <label class="row-spacer">Descripción complicaciones</label>
      <output> adherencias perihepaticas, piometria/perforacion uterina, perforacion de sigmoides, PB fístula colo uterina.
       </output>
    </div>
    <div class="col-4 ">
        <label class="row-spacer">Exámen histopatológico transoperatorio solicitado e informe</label>
        <output> Terapéutico
         </output>
      </div>      
  </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding-bottom: 3rem">
      <div class="card card-body-medico">
        <!-- <img src="assets/images/medico.svg" width="100%" height="100%" > -->
        <div class="background-medico">
          <div class="row">
            <div class="col-3">
              <img
                src="assets/images/icono_medico.png"
                style="max-height: 5rem"
              />
            </div>
            <div class="col-5">
              <label class="label-somatometria" style="color: #2f7fe4"
                >Nombre del médico</label
              >
              <h5 class="h5-medico">{{ detalleNotaMedica?.medico?.nombre }}</h5>
            </div>
            <div class="col-2">
              <label class="label-somatometria" style="color: #2f7fe4"
                >Matrícula</label
              >
              <h5 class="h5-medico">
                {{ detalleNotaMedica?.medico?.matricula }}
              </h5>
            </div>
            <div class="col-2">
              <label class="label-somatometria" style="color: #2f7fe4"
                >Cédula Profesional</label
              >
              <h5 class="h5-medico">
                {{ detalleNotaMedica?.medico?.cedulaProfesional }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <div>
<!-- 
    <div class=" row parent2">
        <div class="col-3 child2">This div is centered horizontally and vertically.</div>
      </div>
 -->

  </div>